/**
 * Uform Package Css
 * */
.uform-div-wrapper{
 	font-size:14px;
}
/**
 * Row CSS
 * */
.uform-row{
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	clear:both;
}
.uform-row:after {
	clear: both;
}
.uform-row:before, .uform-row:after {
	display: table;
}
/**
 * Column CSS
 * */
.uform-column{
	padding-left: 0em;
	padding-right: 0.3375em;
	padding-bottom: 0.5375em;
	float: left;
	margin: 0;
	color:rgb(6, 149, 120);
}
.uform-column input,.uform-column select{
	width : 65%;
	font-size: 10pt;

}
.uform-column input[type='checkbox'], .uform-column input[type='radio']{
	width : 15px !important;
	display:inline;
	margin:auto 25px auto 5px;
}
.uform-column textarea{
	max-width:75%;
	resize:none;
}
.uform-captcha-wrapper{
	width:65%;
	float:left;
}
/**
 * Submit Button CSS
 * */
.uform-column input[type='submit']{
	cursor:pointer;
	width : 30%;
	font-size: 15px;
	color: rgb(6, 149, 134);
}
/**
 * Label CSS
 * */
.uform-label-wrapper{
	color:rgb(102, 102, 102);
}
.uform-label-left {
	float:left;
	margin-right:0.3375em;
	min-width:20%;
	max-width:30%;
}
.uform-label-right{
	float:right;
	margin-left:0.3375em;
	width:20%;
}
.uform-label-top{
	margin-bottom:0.2375em;
}
/**
 * Input Possitions
 * */
.uform-ipos-left input{
	float:left;
}
.uform-ipos-right input{
	float:right;
}
.uform-ipos-center input{
	display:block;
	margin:auto;
}
/**
 * Grid System
 * */
.uform-grid-1 {
	width: 9%;
}
.uform-grid-2 {
	width: 19%;
}
.uform-grid-3 {
	width: 29%;
}
.uform-grid-4 {
	width: 39%;
}
.uform-grid-5{
	width: 49%;
}
.uform-grid-6{
	width: 59%;
}
.uform-grid-7{
	width: 69%;
}
.uform-grid-8{
	width: 79%;
}
.uform-grid-9{
	width: 89%;
}
.uform-grid-10{
	width: 99%;
}
/**
 * Error Input Styles
 * */
.uform-error{
	font-size:10pt;
	color:red !important;
}